NODE_ENV=development

SERVICE_NAME=cariir_api

PORT=7410

LOG_ENV=dev
RESPONSE_TIME=60
SOA_RESPONSE_TIME=60

JSON_LIMIT=50mb

DB_POOL_MIN=0
DB_POOL_MAX=50
DB_POOL_IDLE=1
DB_POOL_ACQUIRE=2000000000
DB_POOL_EVICT=2000000000
DB_DIALECT=postgres
DB_DIALECT_REQUEST_TIMEOUT=2000000000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d